node_modules
.next
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Secret Agent Scripts To Ignore #
backdate_commits.ps1
backdate_commits.py
backdate_team_commits.py
build.log

<!-- commit-touch: sameerpatel01 2026-08-15 17:00:00 -->
